*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Uchen", serif;
}
.all-content{
    background: #2e1700;
}
.navbar{
    background-color: #573818;
    padding-left: 50px;
    font-weight: bold;

}
.nav-item{
    margin-top: 2px;
}
.nav-item:hover{
    background-color: rgb(230, 157, 23);
    border-radius: 8px;
}
.icon{
    margin-right: 9px;
}
.icon:hover{
    transform: translateY(-5px);
}

.home{
    width: 100%;
    height: 88.5vh;
    display: flex;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/background2.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}
.home .img{
    flex: 1 1 400px;
}
.home .img img{
    width: 100%;
}
.home .content{
    flex: 1 1 400px;
    margin-left: 60px;
}
.content h3{
    font-size: 60px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.content h2{
    font-size: 60px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.chenge::after{
    content: ' ';
    color: rgb(160, 101, 24);
    animation: ct 10s infinite linear;
}
@keyframes ct{
    0%{
        content: "birthday cake";
    }
    20%{
        content: "chocolate cake";
    }
    50%{
        content: "party cake";
    }
    60%{
        content: "slice cake";
    }
    100%{
        content: "cup cake";
    }
   

}
.content p{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;

}

.content .btn{
    width: 110px;
    height: 38px;
    background-color: #573818;
    color: white;
}


#box{
    margin-top: 50px;

}
#box .card{
    box-shadow: 0px 0px 5px black;
    margin-top: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
#box .card:hover{
    transform: translateY(-10px);
}

.banner{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(background2.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
  
    position: relative;
    box-shadow: 0px 0px 10px black;
}
.banner .img{
    flex: 1 1 400px;
}
.banner .img img{
    width: 100%;
}
.banner .contant{
    flex: 1 1 400px;
    margin-left: 60px;
    margin-top: 60px;
}
.banner .contant h3{
    color: #92561a;
    font-weight: bold;
}
.banner .contant h2{
    color: #92561a;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
}

.banner .contant p{
    color: #92561a;
}
#btnorder button{
    width: 150px;
    height: 32px;
    letter-spacing: 5px;
    background-color: #92561a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#product-cards h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: #92561a;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #92561a;

}
#product-cards .card{
    background-color: #92561a;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    cursor: pointer;
}
.overlay{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;

}
#product-cards .card:hover .overlay{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s ease;

}
.overlay i .img{
    height: 30px;
    width: 30px;
    background-color: #2e1700;
    font-size: 20px;
    padding: 7px;
    margin: -20px;
    margin-bottom: 5%;
    cursor: pointer;
}
.overlay .btn-secondary{
    background: transparent !important;
    border: none;
    box-shadow: 1px 1px 1px black;

}
.addi{
    height: 30px;
    width: 30px;

}
#product-cards h3{
    color: white;
    text-shadow: 1px 1px 1px black;

}
.star .fa-star{
    color: yellow;

}
#product-cards p{
    color: #2e1700;
    font-weight: bold;

}
#product-cards h6{
    font-size: 20px;
    color: #2e1700;
    font-weight: bold;
}
#product-cards h6 button{
    width: 100px;
    height: 26px;
    font-size: 15px;
    background: transparent;
    letter-spacing: 2px;
    border: 2px solid #573818;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 5px;
    float: right;

}
#product-cards h6 button:hover{
    background-color: #2e1700;
    color: white;
}
#gallery{
    margin-top: 50px;

}
#gallery h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: #92561a;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #92561a;
}
#gallery .card{

    box-shadow: 3px 3px 3px black;
    cursor: pointer;
}
#gallery .overlay{

    opacity: 0;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 1px black;

}

#gallery .card:hover .overlay{
    opacity: 5;
    margin-top: 20%;
    transition: 0.5s ease;

}


#about{
    margin-top: 50px;

}
#about h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: #92561a;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #92561a;
}
#about .card{
    background-color: #92561a;
    box-shadow: 0px 0px 5px black;

}
#about p{
    color: #92561a;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;


}
#bt button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: #92561a;
    color: white;
    border: none;
    cursor: pointer;
}

#bt button:hover{
    background-color: #573818;
}

#contact{
    margin-top: 100px;

}
#contact h1{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: #92561a;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #92561a;


}
#contact input{
    background-color: #92561a;

}
#contact input::placeholder{
    color: white;

}
#contact textarea{
    background-color: #92561a;
}
#contact textarea::placeholder{
    color: white;
}
#messagebtn{
    text-align: center;
}
#messagebtn button{
    width: 200px;
    height: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    background: transparent;
    border: 2px solid white;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

#messagebtn button:hover{
    background-color: #92561a;
}


#footer{
    width: 100%;
    background-color: #573818;
    box-shadow: 0px 0px 5px black;
    margin-top: 100px;

}
#footer h1{
    color: white;
    padding-top: 30px;
}
#footer p{
    color: white;
}
#footer  i{
    background-color: white;
    color: #573818;
    border-radius: 50px;
    padding: 6px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;

}
#footer  i:hover{
    color: white;
    background-color: #92561a;
}

.copyright{
    color: white;
    margin-top: 20px;
}
.credits{
    color: white;
}


html{
    scroll-behavior: smooth;
}

.arrow{
    position: fixed;
    background-color: #92561a;
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;

}



